@import "../../styles/variables.scss";

.member {
  display: flex;
  //flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 40px 80px;
  font-size: 16px;
  line-height: 18px;

  &__photo {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 30px;
    box-sizing: border-box;

    &__row {
      display: flex;
      gap: 20px;
      align-items: center;
      height: 40px;
    }

    &__title {
      font-weight: 700;
      width: 50%;
      margin: 0;
      padding-left: 50px;
      box-sizing: border-box;
    }

    &__description {
      font-weight: 400;
      width: 60%;
      margin: 0;
    }
  }
}