$black-color: #000000;
$background-color: #0E0E0E;
$header-background: rgba(14, 14, 14, .8);
$border-color: #2c2c2c;
$slogan-color: #605f5f;
$red-color: #C02334;
$banner-shadow: #7B0828;
$text-color: #f8f8f8;
$translucent-text: rgba(248, 248, 248, 0.8);

$header-height: 70px;