@import "../../styles/variables.scss";

.header {
  width: 100%;
  height: $header-height;
  background-color: $header-background;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 999;
  font-family: 'Shadows Into', cursive;

  &__container {
    max-width: 1536px;
    margin: 0 auto;
    height: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 50px;

    &-image {
      height: 100%;
    }
  }

  &__menu {
    width: 400px;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    &-link {
      list-style: none;

      &-item {
        text-decoration: none;
        color: $text-color;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;

        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $red-color;
          transition: width 0.3s ease-out;
        }

        &:hover:after, &focus:after {
          width: 100%;
        }

        &_active {
          color: $red-color;
          font-weight: 700;
        }
      }
    }
  }
}