@import "./styles/variables.scss";
.App {
    width: 100%;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    position: relative;
    background-color: $background-color;
    color: $text-color;
}